doctype html
html
	head
		meta(charset='utf-8')
		title Recommendation Engine

		link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Asap')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')

		style(type='text/css').
			* {
				font-family: 'Asap';
			}

	body
		.container(style='margin-top: 16px;')
			.row
				.col-xs-12
					if !user
						.row
							.col-xs-4.col-xs-offset-4
								h1 Hello, stranger!
								p Pick a username. No password required; this is utopia.
								form(method='get')
									.form-group
										input.form-control(name='user' placeholder='Username')

									button.btn.btn-primary Login

					else
						.page-header
							h1 Hello, #{user}!
						h2
							.pull-right
								form(action='/refresh?user=#{user}' method='post')
									button.btn.btn-primary Refresh
							| Recommended products
						if suggestions.length == 0
							.alert.alert-success Like/dislike a few products below to generate some recommendations

						else
							.row
								for product, i in suggestions
									.col-sm-3
										.thumbnail
											img(src='#{product.thumb.url}')
											.caption
												h4(style='margin-bottom: 24px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;') #{product.name}
												.row
													.col-xs-6
														form.text-center(action='/like?product=#{product.id}&user=#{user}' method='post')
															button.btn.btn-default
																span.glyphicon.glyphicon-thumbs-up

													.col-xs-6
														form.text-center(action='/dislike?product=#{product.id}&user=#{user}' method='post')
															button.btn.btn-default
																span.glyphicon.glyphicon-thumbs-down

						.row
							.col-xs-12
								h2 All products
								for product, i in products
									if i%4 == 0
										.row
											for product in products.slice(i, i+4)
												.col-sm-3
													.thumbnail
														img(src='#{product.thumb.url}')
														.caption
															h4(style='margin-bottom: 24px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;') #{product.name}
															.row
																.col-xs-6
																	if likes.indexOf(product.id) != -1
																		form.text-center(action='/like?product=#{product.id}&user=#{user}&unset=yes' method='post')
																			button.btn.btn-default.active
																				span.glyphicon.glyphicon-thumbs-up

																	else
																		form.text-center(action='/like?product=#{product.id}&user=#{user}' method='post')
																			button.btn.btn-default
																				span.glyphicon.glyphicon-thumbs-up

																.col-xs-6
																	if dislikes.indexOf(product.id) != -1
																		form.text-center(action='/dislike?product=#{product.id}&user=#{user}&unset=yes' method='post')
																			button.btn.btn-default.active
																				span.glyphicon.glyphicon-thumbs-down

																	else
																		form.text-center(action='/dislike?product=#{product.id}&user=#{user}' method='post')
																			button.btn.btn-default
																				span.glyphicon.glyphicon-thumbs-down
